<template name="Favorites_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Favorite(s)</label>
    <select multiple="" class="ui dropdown" name="favorites">
      <option value="">Select Favorites</option>
        <option value="algorithms">Meat</option>
        <option value="software-engineering">Veggies</option>
        <option value="scuba">American Food</option>
        <option value="accreditation">Asian Food</option>
        <option value="surfing">Bacon</option>
    </select>
  </div>
</template>